.App {
  text-align: center;
  background-color: #343a4e;
}

.ant-table .ant-table-container {
  border: #f0f0f0 solid 1px;
}
.ant-table-content table thead.ant-table-thead .ant-table-cell {
  background-color: #499824;
  color: #f0f0f0;
}
